<app-introduction></app-introduction>

<div class="container">
    <div class="row">
        <div class="banner">
            <img>
            <div class="bg-text">  
                <div>Hi I'm Nativ. I desing & build user interface</div>
            </div>
            <p>Learn more about me</p>
            <i (click)="goInfo()" class="arrow down"></i>
        </div>
    </div>
</div>

<div class="bg-dark">
    <section id="info"></section> 
   
        <div class="d-flex bg-dark p-5" style="width: 80%;margin-left: auto;margin-right: auto; margin-top: 100vh;">
            <img class=" rounded-circle" src="assets/images/profile.jpeg"> 
            <div class="boxInfo">
                <h2 class="center p-1">Nativ Maatuk</h2>         
                <hr>    
                <h4 class="p-1">Practical Software Engineer</h4>
                <ul>
                    <li>Self-learning and highly motivated to progress and develop professionally.</li>
                    <li>Work efficiently as part of a team.</li>
                    <li>Available immediately for a junior position in application development, software and Full Stack Web Development positions.</li>
                </ul>
            </div>
        </div>
   
        <div class="boxInfo rounded center" style="width: 80%;">
            <h1>Skills</h1>
            <hr>
        </div> 
        <table class="table table-striped center table-secondary" style="width: 80%;">
            <thead>
                <tr>
                    <th>Development</th>
                    <th>Server</th>
                    <th>DB</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>JAVA</td>
                    <td>phpMyAdmin</td>
                    <td>Sql</td>
                </tr>
                <tr>
                    <td>C#</td>
                    <td>NodeJs</td>
                    <td>MySql</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td></td>
                    <td>FireBase</td>
                </tr>
                <tr>
                    <td>JavaScript</td>
                    <td></td>
                    <td>MongoDB</td>
                </tr>
                <tr>
                    <td>TypeScript</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Python</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Angular</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="border-bottom: unset;">Linux</td>
                    <td style="border-bottom: unset;"></td>
                    <td style="border-bottom: unset;"></td>
                </tr>
            </tbody>
        </table>  
        <app-footer></app-footer>      
   </div>

    



  